.layout {
  max-width: calc(1540px);
  margin: 0 auto;
  height: 80vh;
  width: calc(100% - 75px);

  border-radius: 7px;
  background-color: var(--grey-2);
  box-shadow: 0 0 80px 0 var(--black-opacity-0-1);
}