.card {
  display: flex;
  flex-direction: column;
  position: relative;

  background-color: var(--main-white);
  border-radius: 7px;
  border: 1px solid transparent;
  @include defaultTransition(border-color);

  @media all and (min-width: 1024px) {
    max-width: 947px;
    flex-direction: row;
    align-items: center;
  }

  @media all and (min-width: 1540px) {
    width: 100%;
    max-width: unset;
    padding: 20px 60px;

    border-radius: 0;

    @media (any-hover: hover) {
      &:hover {
        border-color: var(--grey-1);
      }
    }
  }
}

.cardRightWrapper {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media all and (min-width: 1024px) {
    height: auto;
    width: unset;
    order: 2;
    margin: 0 35px 0 auto;
    padding: 0;
  }

  @media all and (min-width: 1540px) {
    margin-right: 0;
  }
}