.card {
  display: flex;
  flex-direction: column;
  position: relative;

  background-color: var(--main-white);
  border-radius: 7px;

  @media all and (min-width: 1024px) {
    max-width: 947px;
    flex-direction: row;
    align-items: center;
  }

  @media all and (min-width: 1540px) {
    max-width: unset;
    padding: 0 60px;
  }
}

.cardRightWrapper {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media all and (min-width: 1024px) {
    height: auto;
    width: unset;
    order: 2;
    margin: 0 35px 0 auto;
    padding: 0;
  }

  @media all and (min-width: 1540px) {
    margin-right: 0;
  }
}