.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;

  background-color: var(--black-opacity-0-5);
}

.modalContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 960px;
  padding: 50px 30px 50px 60px;
  max-height: 90vh;
  overflow: auto;

  border-radius: 7px;
  box-shadow: 0 0 50px 0 var(--black-opacity-0-15);
  background-color: var(--main-white);

  p {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}