.actions {
  display: flex;
  align-items: center;
  gap: 15px;

  @media all and (min-width: 1024px) {
    display: none;
  }
}

.actionButton {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--main-white);

  cursor: pointer;
  border-radius: 50%;
  background-color: var(--grey-7);
}